@import '../theme/vars';

.footer {
  color: white;
}

.makes {
  text-align: center;
  padding: 15px 0;
  &__specialise {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    vertical-align: middle;
    color: #e0e0e0;
    margin: 15px 10px;
  }
  &__logos {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 10px;
    img {
      display: inline-block;
      height: 50px;
      margin: 5px 10px;
      @media (max-width: $bp-medium) {
        height: 40px;
      }
    }
  }
  @media (max-width: $bp-medium) {
    padding-bottom: 20px;
  }
}

.footer-links {
  background-color: $primary-dark;
  text-align: center;

  &__item {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 20%;
    text-align: center;
    border-left: 1px solid darken($primary, 15%);
    -webkit-transform: matrix(1,0,-0.35,1,0,0);
    -ms-transform: matrix(1,0,-0.35,1,0,0);
    transform: matrix(1,0,-0.35,1,0,0);
    box-sizing: border-box;
    padding: 20px 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    line-height: 2rem;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: $primary;
      border-left: 1px solid lighten($primary, 10%);
      color: white;
    }
    &:hover + & {
      border-left: 1px solid lighten($primary, 10%);
    }
    &:last-child {
      border-right: 1px solid darken($primary, 15%);
    }
    &:hover:last-child {
      border-right: 1px solid lighten($primary, 10%);
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin: -35px 0 0 -35px;
      -webkit-transform: matrix(1,0,0.35,1,0,0);
      -ms-transform: matrix(1,0,0.35,1,0,0);
      transform: matrix(1,0,0.35,1,0,0);
      background-image: url(./icons.png);
      background-size: auto 70px;
      background-position: 0 50%;
      background-repeat: no-repeat;
      vertical-align: top;
      &--icon-0 { background-position-x: 9px; }
      &--icon-1 { background-position-x: -88px; }
      &--icon-2 { background-position-x: -185px; }
      &--icon-3 { background-position-x: -282px; }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid white;
        -webkit-transform: matrix(1,0,-0.35,1,0,0);
        -ms-transform: matrix(1,0,-0.35,1,0,0);
        transform: matrix(1,0,-0.35,1,0,0);
      }
    }

    @media (max-width: $bp-wide) {
      font-size: 1.4rem;
      height: 170px;
      &__icon {
        width: 50px;
        height: 50px;
        margin: -25px 0 0 -25px;
        background-size: auto 50px;
        background-position: 6px 50%;
        &--icon-0 { background-position-x: 7px; }
        &--icon-1 { background-position-x: -65px; }
        &--icon-2 { background-position-x: -132px; }
        &--icon-3 { background-position-x: -200px; }
      }
    }

    @media (max-width: $bp-medium) {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      width: 40%;
      border: 1px solid darken($primary, 15%);
      margin: 10px;
      border-radius: 3px;
      &:hover {
        background-color: $primary;
        border: 1px solid lighten($primary, 10%);
      }
      &:hover + & {
        border: 1px solid darken($primary, 15%);
      }
    }

    @media (max-width: $bp-smallest) {
      width: 90%;
      height: 13.5rem;
      margin: 5px;
      &__icon {
        top: auto;
        margin-top: 0;
        bottom: 25px;
      }
    }
  }

  @media (max-width: $bp-medium) {
    padding: 10px 0;
  }
}

.contact {
  text-align: right;
  padding: 30px 0;
  &__logo {
    display: inline-block;
    height: 50px;
    margin-right: 50px;
    vertical-align: middle;
  }
  &__info {
    display: inline-block;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #e0e0e0;
    text-align: right;
    vertical-align: middle;

    i {
      color: $primary;
    }
  }
  @media (max-width: $bp-smallest) {
    text-align: center;
    &__logo {
      margin: 0 0 25px 0;
    }
    &__info {
      display: block;
      text-align: center;
    }
  }
}
