@import '../theme/vars';

.sidebar {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -128px;
  height: 256px;
  background-color: white;
  background-color: rgba(200, 200, 200, 0.7);
  overflow: hidden;

  &__item {
    position: relative;
    display: block;
    width: 240px;
    background-color: $dk-grey;
    margin: 1px 0 1px 1px;
    padding: 10px 20px;
    line-height: 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #e0e0e0;
    cursor: pointer;
    text-decoration: none;
    margin-right: -225px;
    transition: margin-right 0.5s;

    &:hover {
      background-color: $primary;
    }
    &--no-hover:hover {
      background-color: $dk-grey;
      cursor: default;
    }

    &__icon {
      display: block;
      position: absolute;
      background-color: $dk-grey;
      top: 0;
      right: 225px;
      bottom: 0;
      width: 55px;
      background-image: url(./icons.png);
      background-size: 40px;
      background-position: 9px -4px;
      background-repeat: no-repeat;
      transition: right 0.5s;
    }

    &:hover &__icon {
      background-color: $primary;
    }
    &--no-hover:hover &__icon {
      background-color: $dk-grey;
    }

    &__social-link {
      display: inline-block;
      margin: -9px 0 -9px -19px;
      width: 48px;
      height: 48px;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
      font-size: 24px;
      & + & {
        margin-left: 1px;
      }
      &--fb {
        background-color: #004a72;
      }
      &--twitter {
        background-color: #00b8f1;
      }
      i {
        line-height: 48px;
      }
    }
  }

  &--visible &__item {
    margin-right: 0;
  }
  &--visible &__item__icon {
    right: 0;
  }
}
