@import '../theme/vars';

.sidebar {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -128px;
  height: 256px;
  background-color: white;
  background-color: rgba(200, 200, 200, 0.7);
  overflow: hidden;
  perspective: 500px;

  &--top {
    top: 0;
    margin-top: 100px;
    @media (max-width: $bp-wide) {
      margin-top: 40px;
    }
  }

  &__item {
    position: relative;
    display: block;
    width: 240px;
    background-color: $dk-grey;
    margin: 1px 0 1px 1px;
    padding: 10px 20px;
    line-height: 30px;
    height: 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #e0e0e0;
    cursor: pointer;
    text-decoration: none;
    margin-right: -225px;
    transition: margin-right 0.5s, transform 0.5s, visibility 0.5s;
    backface-visibility: hidden;

    &--backface {
      margin-top: -51px;
    }

    &--flipped, &--backface {
      transform: rotateX(180deg);
      visibility: hidden;
    }

    &--flipped#{& + '--backface'} {
      transform: rotateX(360deg);
      visibility: visible;
    }

    &:hover {
      background-color: $primary;
      color: white;
    }
    &--no-hover:hover {
      background-color: $dk-grey;
      cursor: default;
    }

    &__icon {
      display: block;
      position: absolute;
      background-color: $dk-grey;
      top: 0;
      right: 225px;
      bottom: 0;
      width: 55px;
      background-image: url(./icons.png);
      background-size: 40px;
      background-position: 9px -4px;
      background-repeat: no-repeat;
      transition: right 0.5s;
    }

    &:hover &__icon {
      background-color: $primary;
    }
    &--no-hover:hover &__icon {
      background-color: $dk-grey;
    }

    &__social-link {
      display: inline-block;
      margin: -9px 0 -9px -19px;
      width: 48px;
      height: 48px;
      cursor: pointer;
      color: white;
      text-decoration: none;
      text-align: center;
      font-size: 24px;
      & + & {
        margin-left: 1px;
      }
      &--fb {
        background-color: #004a72;
      }
      &--twitter {
        background-color: #00b8f1;
      }
      i {
        line-height: 48px;
      }
    }
  }

  &--visible &__item {
    margin-right: 0;
  }
  &--visible &__item__icon {
    right: 0;
  }
}

.newsletterForm {
  margin: 0 -10px;
  padding: 0;

  input[type="email"] {
    background-color: transparent;
    border: 1px solid #808080;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 8px;
    color: white;
    width: 180px;
    box-sizing: border-box;
  }

  input[type="submit"], button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    height: 100%;
    vertical-align: top;
    padding: 0 8px;
    margin: 0 0 0 5px;
    font-size: 14px;
  }

  &__status {
    display: none;
    font-size: 12px;
    line-height: 30px;
    background-color: $dk-grey;
    padding: 0 10px;

    &--visible {
      display: block;
      & ~ * {
        display: none;
      }
    }
  }

  button {
    background-color: #b04040;
    color: white;
  }
}
