@import '../theme/vars';

.header {
  position: relative;
  border-bottom: 1px solid black;
  z-index: 1000;
  box-shadow: 0 2px 12px rgba(0,0,0,0.5);
}

.logo {
  display: inline-block;
  width: 180px;
  margin: 20px 40px 18px 0;
  vertical-align: middle;
}

.menu-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #a0a0a0;
  -webkit-transform: matrix(1,0,-0.35,1,8,0);
  -ms-transform: matrix(1,0,-0.35,1,8,0);
  transform: matrix(1,0,-0.35,1,8,0);

  &--active {
    background-color: $primary;
    border-left: 1px solid lighten($primary, 10%);
    color: white;
  }
  &--active + & {
    border-left: 1px solid lighten($primary, 10%);
  }
  &--last {
    border-right: 1px solid #a0a0a0;
  }
  &--last#{& + '--active'} {
    border-right: 1px solid lighten($primary, 10%);
  }

  &__text {
    display: block;
    padding: 90px 20px 15px 25px;
    line-height: 15px;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #e0e0e0;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $primary-light;
      transition: color 0.4s;
    }

    @media (min-width: 1200px) {
      font-size: 1.3rem;
      letter-spacing: 0.15em;
    }
  }

  &--active &__text {
    &, &:hover {
      color: white;
    }
  }

  @media (max-width: 1200px) {
    margin-top: 3rem;
    &__text {
      padding-top: 60px;
    }
  }

  @media (max-width: $bp-wide) {
    display: none;
  }
}

.dd-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $dk-grey;
  display: none;
  li {
    border-top: 1px solid #a0a0a0;
  }
  .menu-item--active & {
    background-color: $primary;
    li {
      border-top: 1px solid lighten($primary, 10%);
    }
  }
  a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 0.5em 0.75em;
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
}

.mobile-nav {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.5rem;
  text-align: center;
  border: 1px solid #202020;
  border-radius: 3px;
  cursor: pointer;
  i {
    line-height: 4rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 0 1.5rem;
    &:before {
      vertical-align: middle;
    }
    &:after {
      content: "Navigation";
      font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      margin-left: 0.5em;
      text-transform: uppercase;
      vertical-align: middle;
      letter-spacing: 0.05em;
      @media (max-width: $bp-smallest) {
        content: "";
        display: none;
      }
    }
  }
  &:hover {
    background-color: #202020;
  }
  @media (max-width: $bp-wide) {
    display: block;
  }
  @media (max-width: $bp-mobile) {
    margin-top: -3.25rem;
  }
}

.contact {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -4rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: #e0e0e0;
  text-align: right;

  i {
    color: $primary;
  }

  p {
    margin: 0;
    &.dbl {
      margin-top: 1.4em;
    }
  }

  @media (max-width: 1200px) {
    top: 0.5rem;
    margin: 0;
    p {
      display: inline-block;
      margin-left: 15px;
      &, &.dbl {
        margin-top: 0;
      }
    }
  }

  @media (max-width: $bp-wide) {
    top: 1rem;
  }

  @media (max-width: $bp-mobile) {
    position: relative;
    text-align: center;
    top: 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    p {
      margin: 0 7px;
    }
  }
}

.mobile-menu {
  background-color: black;
  list-style: none;
  margin: 0;
  font-size: 1.6rem;
  padding: 1.4em;
  li {
    text-align: center;
  }
  a {
    color: #e0e0e0;
    text-decoration: none;
    line-height: 1.4;
    &:hover {
      color: white;
    }
  }
}
