@import '../theme/vars';

.video {
  position: relative;
  height: 400px;
  background-image: url(./video.png);
  background-size: cover;
  background-position: 50% 50%;

  video {
    width: 100%;
    height: 400px;
  }
}
